bin/edu/AlphaDZero/AprendendoJava/Aula1_StringBasico/MinhaClasse.class
bin/edu/AlphaDZero/AprendendoJava/Aula2_CondBasico/BoletimEstudantil.class
bin/edu/AlphaDZero/AprendendoJava/Aula3_Readme/README.md
bin/edu/AlphaDZero/AprendendoJava/Aula4_Operadores/OperadoresJava.class
bin/edu/AlphaDZero/AprendendoJava/Aula5_Metodos/SmartTv.class
bin/edu/AlphaDZero/AprendendoJava/Aula5_Metodos/Usuario.class
bin/edu/AlphaDZero/AprendendoJava/Aula6_Documentar/Calculadora.class
bin/edu/AlphaDZero/AprendendoJava/Aula6_Documentar/TesteCalculadora.class
bin/edu/AlphaDZero/AprendendoJava/Aula7_Terminal/TesteTerminal.class
bin/edu/AlphaDZero/AprendendoJava/Aula8_Argumentos/ArgumentoMain.class
.vscode/launch.json
bin/edu/AlphaDZero/AprendendoJava/Aula9_Scanner/Cadastro.class
bin/edu/AlphaDZero/AprendendoJava/Aula10_If/Academico.class
bin/edu/AlphaDZero/AprendendoJava/Aula01_StringBasico/MinhaClasse.class
bin/edu/AlphaDZero/AprendendoJava/Aula02_CondBasico/BoletimEstudantil.class
bin/edu/AlphaDZero/AprendendoJava/Aula03_Readme/README.md
bin/edu/AlphaDZero/AprendendoJava/Aula04_Operadores/OperadoresJava.class
bin/edu/AlphaDZero/AprendendoJava/Aula05_Metodos/SmartTv.class
bin/edu/AlphaDZero/AprendendoJava/Aula05_Metodos/Usuario.class
bin/edu/AlphaDZero/AprendendoJava/Aula06_Documentar/Calculadora.class
bin/edu/AlphaDZero/AprendendoJava/Aula06_Documentar/TesteCalculadora.class
bin/edu/AlphaDZero/AprendendoJava/Aula07_Terminal/TesteTerminal.class
bin/edu/AlphaDZero/AprendendoJava/Aula08_Argumentos/ArgumentoMain.class
bin/edu/AlphaDZero/AprendendoJava/Aula09_Scanner/Cadastro.class
bin/edu/AlphaDZero/AprendendoJava/Aula11_Switch/ControleDeFluxo.class
